/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************************Typography*****************************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.woff") format("woff"), url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.ttf") format("truetype"), url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.svg#roboto_condensedbold") format("svg");
}
$header_font: "Roboto", Arial, sans-serif;
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.woff2") format("woff2"), url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.woff") format("woff"), url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.ttf") format("truetype");
}
$article_font: "Roboto Condensed", Arial, sans-serif;
/**************************Colors*********************************/
$wp_blue: #0a58a3;
$section_news: #eb0000;
$section_sport: #47a544;
$section_finance: #0061ce;
/**************************Basic Site Layout**********************/
body, html{
	width: 100%;
}
header{
	height: 64px;
}
/****************************Header setup**************************/
header{
	border-bottom: #c9c9c9 solid 1px;
}
.header{
	position: relative;
	/*background-color: yellow; */
	img{
		float: left;
		width: 93px;
		height: 54px;
	}
	ul{
		display: inline-block;
		li{
			float: left;
			display: inline-block;
			width: 80px;
			img{
				height: 100%;
				width: auto;
				margin: auto;
			}
			p{
				position: absolute;
				bottom: 10px;
				font-family: $header_font;
				font-size: 11px;
				color: $wp_blue;
				margin-left: 10px;
			}
			p:hover{
				text-decoration: underline;
			}
			a{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		#form{
			width: 280px;
			margin-top: 15px;
			margin-left: 5px;
			margin-right: 5px;
			#search_field{
				width: 216px;
				height: 29px;
				border: 2px solid #f2f2f2;
			}
			#search_button{
				width: 50px;
				height: 33px;
				overflow: hidden;
				background-color: #024787;
				background-image: url("../images/search_button.png");
				background-repeat: no-repeat;
				border: none;
			}
		}
	}
}
.row{
	.col_6{
		background-color: rgb(230,230,200);
	}
	.col_3{
		background-color: rgb(200,230,230);
	}
	.col_4{
		background-color: rgb(230,200,230);
	}
	.col_8{
		background-color: rgb(230,230,140);
	}
	article{
		box-sizing: border-box;
		position: relative;
		margin: 5px;
		overflow: hidden;
		display: block;
		img{
			box-sizing: border-box;
			height: 100%;

		}
		p{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 40px 14px 14px;
			font-family: $article_font;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
			color: #fff;
			font-size: 30px;
			line-height: 36px;
		}
	}
	article:hover{
		img{
			border-bottom: 5px solid $section_news;
		}
		p{
			text-decoration: underline;
		}
	}
	.smaller_font{
		font-size: 21px;
		line-height: 26px;
	}
	.smallest_font{
		font-size: 16px;
		line-height: 21px;
	}
	.art_margin{
		margin-top: 15px;
	}
	.img_max{
		height: 100%;
		width: 100%;
	}
	.img_max_width{
		height: auto;
		width: 100%;
	}
	.side_style{
		background-color: $section_news;
		padding: 5px 10px 0 10px;
		height: 50%;
		img{
			height: auto;
			width: 100%;
		}
	}
}
.sport_section{
	article:hover{
		img{
			border-bottom: 5px solid $section_sport;
		}
	}
	.side_style{
		background-color: $section_sport;
	}
}
.finance_section{
	article:hover{
		img{
			border-bottom: 5px solid $section_finance;
		}
	}
	.side_style{
		background-color: $section_finance;
	}
}