/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**************************Typography*****************************/
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.woff") format("woff"), url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.ttf") format("truetype"), url("//a.wpimg.pl/a/i/stg/player/fonts/roboto-regular-webfont.svg#roboto_condensedbold") format("svg"); }
@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.eot?#iefix") format("embedded-opentype"), url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.woff2") format("woff2"), url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.woff") format("woff"), url("http://y.wpimg.pl/i/ivar/layout/201201/robotocondensed-regular-webfont.ttf") format("truetype"); }
/**************************Colors*********************************/
.color_sport {
  background-color: #47a544; }

.color_finance {
  background-color: #0061ce; }

.color_news {
  background-color: #eb0000; }

/**************************Basic Site Layout**********************/
body, html {
  width: 100%; }

header {
  height: 64px; }

/****************************Header setup**************************/
header {
  border-bottom: #c9c9c9 solid 1px; }

.header {
  position: relative;
  /*background-color: yellow; */ }
  .header img {
    float: left;
    width: 93px;
    height: 54px; }
  .header ul {
    display: inline-block; }
    .header ul li {
      float: left;
      display: inline-block;
      width: 80px; }
      .header ul li img {
        height: 100%;
        width: auto;
        margin: auto; }
      .header ul li p {
        position: absolute;
        bottom: 10px;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 11px;
        color: #0a58a3;
        margin-left: 10px; }
      .header ul li p:hover {
        text-decoration: underline; }
      .header ul li a {
        display: block;
        width: 100%;
        height: 100%; }
    .header ul #form {
      width: 280px;
      margin-top: 15px;
      margin-left: 5px;
      margin-right: 5px; }
      .header ul #form #search_field {
        width: 216px;
        height: 29px;
        border: 2px solid #f2f2f2; }
      .header ul #form #search_button {
        width: 50px;
        height: 33px;
        overflow: hidden;
        background-color: #024787;
        background-image: url("../images/search_button.png");
        background-repeat: no-repeat;
        border: none; }

/***************body setup*****************/
.row {
  /*.col_6{
  	background-color: rgb(230,230,200);
  }
  .col_3{
  	background-color: rgb(200,230,230);
  }
  .col_4{
  	background-color: rgb(230,200,230);
  }
  .col_8{
  	background-color: rgb(230,230,140);
  }*/ }
  .row article {
    box-sizing: border-box;
    position: relative;
    margin: 5px;
    overflow: hidden;
    display: block; }
    .row article img {
      box-sizing: border-box;
      height: 100%; }
    .row article p {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 40px 14px 14px;
      font-family: "Roboto Condensed", Arial, sans-serif;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
      color: #fff;
      font-size: 30px;
      line-height: 36px; }
  .row article:hover img {
    border-bottom: 5px solid #eb0000; }
  .row article:hover p {
    text-decoration: underline; }
  .row .side_articles .weather_box {
    margin-bottom: 10px; }
    .row .side_articles .weather_box li {
      display: inline-block;
      box-sizing: border-box; }
      .row .side_articles .weather_box li img {
        width: 93px;
        height: 60px;
        box-sizing: border-box; }
      .row .side_articles .weather_box li img:hover {
        border-bottom: 5px solid #0a58a3; }
  .row .side_articles .art_list li {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUwAAAAWBAMAAABZIrhJAAAAD1BMVEUAAACmpqZdXV1cXFxVVVXbuY7EAAAAAXRSTlMAQObYZgAAACpJREFUSMft0EENACAQA7CBIyzgXxQOSO65pJXQADCzThrsmwYlmwDA3wOeEQCpHhhVRAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat; }
    .row .side_articles .art_list li a {
      padding-left: 15px;
      text-decoration: none;
      font-weight: normal;
      font-size: 14px;
      line-height: 22px;
      font-family: "Roboto", Arial, sans-serif;
      color: #059; }
    .row .side_articles .art_list li a:hover {
      text-decoration: underline; }
      .row .side_articles .art_list li a:hover p, .row .side_articles .art_list li a:hover div {
        text-decoration: underline; }
    .row .side_articles .art_list li div {
      display: inline-block;
      width: 90%; }
  .row .side_articles .art_list li:first-of-type {
    height: 69px; }
    .row .side_articles .art_list li:first-of-type img {
      float: left;
      height: 69px;
      width: 31%; }
    .row .side_articles .art_list li:first-of-type p {
      font-weight: bold;
      padding-left: 10px;
      width: 65%;
      height: 100%;
      float: left;
      display: inline-block; }
  .row .smaller_font {
    font-size: 21px;
    line-height: 26px; }
  .row .smallest_font {
    font-size: 16px;
    line-height: 21px; }
  .row .art_margin {
    margin-top: 15px; }
  .row .col_margin {
    padding-bottom: 11px; }
  .row .img_max {
    height: 100%;
    width: 100%; }
  .row .img_max_width {
    height: auto;
    width: 100%; }
  .row .side_style {
    background-color: #eb0000;
    padding: 5px 10px 0 10px;
    height: 50%; }
    .row .side_style img {
      height: auto;
      width: 100%; }

.sport_section article:hover img {
  border-bottom: 5px solid #47a544; }
.sport_section .side_style {
  background-color: #47a544; }

.finance_section article:hover img {
  border-bottom: 5px solid #0061ce; }
.finance_section .side_style {
  background-color: #0061ce; }

.strip {
  margin: 22px 5px 16px 5px;
  height: 40px;
  width: 100%; }
  .strip a {
    text-decoration: none; }
  .strip a h2:hover, .strip a h3:hover {
    text-decoration: underline; }
  .strip h2, .strip h3 {
    display: inline-block;
    font-size: 18px;
    color: white;
    font-family: "Roboto Condensed", Arial, sans-serif;
    margin-top: 7px;
    margin-left: 7px; }
  .strip h2 {
    font-size: 22px; }

.border_grey {
  border: 1px solid #dbdbdb; }

.side_btn:first-of-type {
  border-top: 1px solid #dbdbdb;
  margin-top: 5px; }

.side_btn {
  width: 158px;
  height: 66px;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb; }
  .side_btn a {
    padding: 21px 0 0 12px;
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto", Arial, sans-serif;
    color: black; }
  .side_btn a:hover {
    text-decoration: underline; }

.sb_1 {
  background-color: #eb0000; }
  .sb_1 a {
    color: white; }

.sb_2 {
  border-right: solid 8px #47a544; }

.sb_3 {
  border-right: solid 8px #0061ce; }

.sb_4 {
  border-right: solid 8px #ff4800; }

.sb_5 {
  border-right: solid 8px #60326f; }

.sb_6 {
  border-right: solid 8px #00a3d2; }

.sb_tw, .sb_fb {
  background: #5eabf4 url("../images/tw.png") no-repeat;
  border: none;
  margin-top: 2px; }
  .sb_tw a, .sb_fb a {
    padding-top: 22px;
    padding-left: 48px;
    font-size: 18px;
    color: white;
    font-family: "Roboto", Arial, sans-serif; }
  .sb_tw a:hover, .sb_fb a:hover {
    opacity: 0.9; }

.sb_fb {
  margin-top: 16px;
  background: #4761a2 url("../images/fb.png") no-repeat; }

.author_container {
  border: 1px solid #dbdbdb; }

.author {
  margin: 10px auto;
  color: black;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  display: block; }

/*# sourceMappingURL=style.css.map */
